@media screen and (max-width: 1485px) {
    .offers{
        width: 65%;
    }
}
@media screen and (max-width: 1373px){
    .offers{
        width: 72%;
    }
}
@media screen and (max-width: 1250px){
    header{
        width: 90%;
    }
    .offers{
        width: 82%;
    }
    .destination{
        width: 55%;
    }
}
@media screen and (max-width: 1100px){
    header{
        width: 95%;
    }
    header .trip_bx .search_bx{
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 10px 25px rgb(114, 114, 114);
        z-index: 1;
        padding: 10px 20px;
    }
    .offers{
        width: 95%;
    }
    .destination{
        width: 60%;
    }
}